services:
  database:
    image: mongo
    restart: always
    ports:
      - "8000:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: scoobies
    volumes:
      - db_data:/data/db

volumes:
  db_data:
    driver: local
